/*css reset*/
*{
    margin: 0;
    padding: 0;
}
ul,ol{
    list-style: none;
}
a{
    text-decoration: none;
}
img{
    border: 0;
}
.wapper{
    width: 1226px;
    margin: 0 auto;
}
/*公共样式*/
/*banner 开始*/
.banner{
    height: 120px;
    background: url("../img/banner.jpg") no-repeat 50% 50%
}
.banner a{
    display: block;
    height: 100%;
    width: 100%;
}
/*banner 结束*/
/*nav 开始*/
.nav{
    height: 40px;
    background: #333333;
}
.main-menu{
    overflow: hidden;
}
.main-menu li{
    float: left;
    line-height: 40px;
}
.main-menu a{
    color: #b0b0b0;
    font-size: 12px;
}
.main-menu a:hover{
    color: #ffffff;
}
.main-menu .sep{
    margin: 0 6px;
    color: #424242;
}

