*{
    margin: 0;
    padding: 0;
}
img{
    border: 0;
}
li{
    list-style: none;
}
.carousel-container{
    width: 520px;
    height: 280px;
    position: relative;
}
.carousel-imgs img {
    display: none;
}
.carousel-imgs .selected {
    display: block;
}
.carousel-nav{
    position: absolute;
    right: 10px;
    bottom: 10px;
}
.carousel-nav li, .carousel-arrows span{
    width: 20px;
    height: 20px;
    background: #000000;
    color: #FFFFFF;
    text-align: center;
    line-height: 20px;
    float: left;
    margin-right: 5px;
    cursor: pointer;
}
.carousel-arrows{
    position: absolute;
    left: 10px;
    bottom: 10px;
}
