#nav
.menu{
    width: 40px;
    height: 46px;
    float: left;
    cursor: pointer;
    margin-right: 100px;
}
.menu span{
    width: 30px;
    height: 21px;
    font-size: 10px;
    line-height: 21px;
    text-align: center;
    display: block;
}
#logo img{
    width: 73px;
}

