<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<style>
    li{
        list-style: none;
    }
    #app{
        margin: 0 auto;
    }
    #app li{
        width: 300px;
        height: 50px;
        background: #cccccc;
        margin: 10px;
    }
    #app .aa{
        background: rgb(93, 103, 189);
    }
    #name{
        float: left;
    }
    #money{
        float: right;
    }
</style>
<body>
    <div id="app">
            <ul>

                <li v-for="(obj,index) in arr" @click = "clickhandler(obj,index)" :class="{aa:obj.isAa}">
                    <button id="btn" @click.stop="clickHandler(key)">-</button>
                    <!-- <input type="checkbox" v-model="money" value="money"> -->
                    <!-- <div v-for = "val in obj">{{val}}</div> -->
                    <div id="name">{{obj.name}}</div>
                    <div id="money">{{obj.money}}</div>
                    <input type="checkbox" :class="{aa:obj.isAa}">
                </li>
            总金额：
            <h1 v-text = "num"></h1>
            </ul>
    </div>

    <script src="vue.js"></script>
    <script>
        let vm = new Vue({
            el:"#app",
            data:{
                num: 0,
                money:'',
                arr:[{
                    name:"衣服",
                    money:100,
                    isAa:false
                },
                {
                    name:"鞋",
                    money:200,
                    isAa:false
                },{
                    name:"裤子",
                    money:300,
                    isAa:false
                }],
            },
            methods:{
                clickhandler(obj,index){
                    console.log(obj.isAa);
                    obj.isAa = !obj.isAa;
                    this.num += obj.money;                  
                },
                clickHandler(key){
                    console.log(key);
                    this.arr.splice(key,1);
                }
            }

        });
    </script>
</body>
</html>